<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>zeospaye</name>
	<displayName><![CDATA[ZeosPayE]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Pay with enzona!!!!!!!]]></description>
	<author><![CDATA[Zeos]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
